html, body
{
  height: 100%;
  width: 100%;
  margin: 0;
  background: black url(https://cdn.pixabay.com/photo/2016/05/05/02/37/sunset-1373171_960_720.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
