
html, body
{
  height: 100%;
  width: 100%;
  margin: 0;
  background: black url(https://cdn.pixabay.com/photo/2016/05/24/16/48/mountains-1412683_960_720.png) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
